<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="user-container">
            대화명 : <input type="text" id="nickname">
        </div>
        <div class="display-container">
            <ul class="chatting-list"></ul>
        </div>
        <div class="input-container">
            <input type="text" class="chatting-input">
            <button class="send-button">전송</button>
        </div>
    </div>

    <!-- <script type="text/javascript" src="/socket.io/socket.io.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js" integrity="sha512-xbQU0+iHqhVt7VIXi6vBJKPh3IQBF5B84sSHdjKiSccyX/1ZI7Vnkt2/8y8uruj63/DVmCxfUNohPNruthTEQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/chat.js"></script>

    <script>
        window.onload = function() {
            let passData = { returnValue : 200 };
            window.parent.postMessage(passData, 'https://aretty.co.kr/test.php');
        }
    </script>
</body>
</html>